.pie-pagina {
background: #102059;
background: radial-gradient(circle, rgba(16, 32, 89, 1) 0%, rgba(8, 13, 23, 1) 100%);
  color: #e0e0e0;
  padding-top: 4rem;
  font-size: 0.95rem;
}

.contenedor-footer {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem 3rem 1.5rem;
}

.columna-footer h4,
.footer-logo {
  color: var(--color-blanco);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.footer-logo {
  font-size: 1.5rem;
  color: var(--color-acento);
}

.footer-texto {
  line-height: 1.6;
  color: #ccc;
}

.enlaces-footer,
.info-contacto {
  list-style: none;
  padding: 0;
}

.enlaces-footer li,
.info-contacto li {
  margin-bottom: 0.8rem;
}

.enlaces-footer a {
  color: #ccc;
  text-decoration: none;
  transition:
    color 0.3s ease,
    padding-left 0.3s ease;
}

.enlaces-footer a:hover {
  color: var(--color-acento);
  padding-left: 5px;
}

.redes-sociales {
  display: flex;
  gap: 1rem;
}

.icono-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: white;
  transition:
    background 0.3s,
    transform 0.3s;
}

.icono-social svg {
  width: 20px;
  height: 20px;
}

.icono-social:hover {
  background-color: var(--color-acento);
  transform: translateY(-3px);
}

.barra-copyright {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;

}

.barra-copyright p {
  font-size: 0.85rem;
  color: #888;
}

.legales a {
  color: #888;
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 0.85rem;
}

.legales a:hover {
  color: white;
}

@media (max-width: 768px) {
  .barra-copyright {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .legales a {
    margin: 0 0.5rem;
  }
}
